#heading{
    color: red;
}

.logo{
    width: 90px;
    height: 90px;
    border: none ;
    border-radius: 45px;
}

#header{
    height: 95px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    
}

.search{
        width: 500px;
        height: 60px;
        text-align: left;
        margin-top: 15px;
        border: none;


}

.usericon{
    cursor: pointer;
}